# Ignore PyTorch model files
*.pt
*.pth

# Ignore common image formats
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.svg
*.tif
*.tiff

wandb
imgs
pd_10k_500patches
pd_10k_500patches_nonorm
pd_10k_500patches_nonormatall
pd_30k_500patches_imgnorm

.gitignore

train_old.py